{% extends 'user/base.html' %}
{% load static %}

{% block content %}
{% comment %} <link rel="stylesheet"  href="{% static "/css/user.css" %}" > {% endcomment %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>User Management</h2>
<a href="/user/create" id="button1" class="btn btn-light">Add User</a>
          <button class="create-book btn btn-primary" type="button" name="button">
              <span class="fa fa-plus mr-2"></span>Create book</button>
          
          </div>

<table class="table table-striped">
  <thead class="thead-dark">

    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"> Edit</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
    <td> {{user.first_name}} </td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.admin}}</td>
    <td> <a href="update/{{user.id}}">Edit/{{user.id}} </a>  </td>
    <td> <a href="delete/{{user.id}}">delete/{{user.id}} </a>  </td>
    <td> <button type="button" class="update-create btn btn-sm btn-primary" data-id="{% url 'update_user' user.pk %}">
                          <span class="fa fa-pencil"></span>
                        </button>  </td>

      {% endfor %}

    </tr>
  </tbody>
</table>
<!--  Modal-->
<!-- Adding User-->
 
{% comment %} <script src="{% static 'js/user.js' %}"></script> {% endcomment %}

{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      // Create book button
      $(".create-user").modalForm({formURL: "{% url 'create_user' %}"});

      // Update book buttons
      $(".update-book").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });


      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
  </script>
{% endblock extrascripts %}
